$theme-color-white: #fff;
$theme-color-purple: #4B2E83;
$theme-color-blue: #34D9E9;
$navbar-height: 40px;

.navbar {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  z-index: 999;
  color: #555555;

  .navbarContainer {
    height: $navbar-height;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: $theme-color-white;
    padding: 20px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    .logo {
      font-size: 36px;
      color: $theme-color-purple;
    }

    .mainLinks {
      a {
        margin-left: 20px;
        color: #555555;
      }
    }

    .account {
      a {
        margin-left: 20px;
        color: #555555;
      }

      .signup {
        background-color: $theme-color-blue;
        border: none;
        color: $theme-color-white;
        padding: 12px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
      }
    }
  }
}