.groupContentGallery {
  height: 100%;
  .groupContentGalleryWrapper {
    height: 100%;
    .groupContentGalleryContent {
      margin: 40px 0 0 0;
      padding: 0;
      width: 100%;
      height: 100%;
      color: #212121;

      .groupSectionHeading {
        font-weight: 400;
        font-size: 22px;
        margin: 0;
        padding: 0;
      }

      .groupSectionDescription {
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 15px;
      }

      .groupPageTopContent {
        height: 100%;
        width: 100%;
        align-items: flex-start;

        .groupPageGallery {
          height: auto;
          width: 100%;
          margin-top: 40px;
          
          .groupGalleryContent {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            margin-top: 20px;
            // padding-top: 20px;
            // border-top: 0.5px solid #ccc;
            width: 100%;
          }
        }
      }

      
    }
  }

}