.sectionWrapper {
  padding-top: 40px;
  .topStudentGroups {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }
  .studentGroups {
    padding-top: 20px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }
}