@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 18pt;
  text-transform: uppercase;
  color: #4B2E83;
}