.event {
  height: 100%;
  .eventWrapper {
    height: 100%;
    .eventContent {
      margin: 0;
      padding: 0;
      border: grey;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      width: 220px;
      .eventImage {
        height: 250px;
        width: 220px;
        background-color: grey;
      }

      .eventText {
        padding: 10px;
        .eventTitle {
          margin: 0;
        }
        .eventHost {
          margin: 0;
        }
        .eventDate {
          margin: 0;
        }

        .eventLoc {
          margin:0;
        }

      }
    }
  }

}