.groupHeader {
  height: 100%;
  .groupHeaderWrapper {
    height: 100%;
    .groupHeaderContent {
      margin: 0;
      padding: 0;
      border: grey;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px 3px 0 0;
      width: 100%;
      .groupHeaderImage {
        position: absolute;
        z-index: -1;
        height: 250px;
        width: 960px;
        background-color: grey;
      }

      .groupHeaderLogo {
        margin: 150px 0 0 40px;
        position: absolute;
        z-index: 1;
        height: 200px;
        width: 200px;
        border: lightgrey;
        border-style: solid;
        background-color: grey;
        border-width: 1px;
        border-radius: 3px;
      }

      .groupHeaderText {
        height: 120px;
        z-index: 0;
        margin: 260px 0 0 260px;
        position: relative;
        padding: 10px;

        .groupHeaderMainText {
          display: inline-flex;
          width: 100%;

          .groupName {
            margin: 0;
          }

          .followers, .members {
            margin: 3px 0 0 20px;
          }
        }

      }
    }
  }

}