<!-- base.html -->
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans);
        @import url(https://fonts.googleapis.com/css?family=Montserrat);
        body {
            margin: 0;
            padding: 0;
            text-align: left;
            font-family: 'OpenSans', Arial, Helvetica, sans-serif;
            font-weight: 100;
            color: #555555;
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
    {% render_bundle 'vendors' %}
    {% render_bundle 'Index' %}
</body>
</html>