$theme-color-white: #fff;
$theme-color-black: #212121;
$theme-color-purple: #4B2E83;
$theme-color-blue: #34D9E9;

.registerWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;

  .overlay {
    position: relative;
    background-color: rgba(33, 33, 33, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .registerBox {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;

    .registerContent {
      
      
      .registerGoogle {
        width: auto;
        background-color: $theme-color-blue;
        border: none;
        color: $theme-color-white;
        padding: 12px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        font-size: 18px;
      }
      
      .login {
        color: $theme-color-purple;
      }
    }
  }
}